@charset "UTF-8";

/*全体、背景画像*/
body{
   
  margin: 0 0 0 0;	/* マージンなし（後で個別に設定） */
  padding: 0 0 0 0;	/* パディングなし（後で個別に設定） */
  width: 100%;
  justify-content:center;
  font-size: 16px;
  background-color: #f5deb3;
  
  
  
  
}


/*　ヘッダー　*/
 header {
      padding: 20px;
      text-align: center;
    }
    

#nav  {
      margin: 80px auto 0 auto;
      padding-top: 30px ;
      list-style: none;
      display: flex;
      gap: 40px;
      justify-content: center;
      border: 2px solid #ffebcd;
      border-radius: 4px;
      max-width:800px;
      height:50px;
      background-color:#ffebcd;
      
}


#nav li a {
      text-decoration: none;
      color: #000;
      padding: 8px 12px;
      font-weight:bold;
      
}
      
    
    
#nav li a:hover {
      background-color:#ffebcd;
      border-radius: 4px;
    }
    
.details-summary{
	  font-weight:bold;
}
    
#details li{
	list-style-type:none;
}

/* まとめて囲む親のulに枠 */
.details-summary + ul {
  border: 2px solid #333;      /* 太めの枠線 */
  border-radius: 6px;          /* 角丸 */
  overflow: hidden;            /* 角丸が崩れないように */
  width: 200px;                /* お好みで幅調整 */
  margin: 10px 0;
  padding: 0;                  /* ulのデフォ余白削除 */
  background-color: #f9f9f9;
}

/* liは枠の中のセクション */
.details-summary + ul li {
  list-style: none;            /* マーカー消し */
  padding: 10px 15px;
  text-align: center;          /* 真ん中寄せ */
  cursor: pointer;
  background-color:#ffebcd;
}

/* liの間に境界線を1本だけ入れる（2つ目以降のliの上に線） */
.details-summary + ul li + li {
  border-top: 1px solid #666;
}

/* aタグはブロック化して全体をクリック可能に */
.details-summary + ul li a {
  display: block;
  color: #333;
  text-decoration: none;
}

/*　ヘッダーここまで*/



/*　タイトル　*/
.top{
    text-align:center;
}

/*　選択画面部分　*/
.user_pw{
    padding: 0.5em 1em;
    margin: 2em 0;
    border: solid 3px #000000;
    width:30%;
    height:50%;
    margin:0 auto;
    text-align:center;
    background-color:#fffaf0;
}


/* テキストの幅調整 */
#curPw, #newPw1, #newPw2 {
    width: 250px;
    padding: 0.5em;
    font-size: 16px;
    font-weight: bold;
    border: solid 2px #000;
    margin: 1em 0;
    text-align: center;
}



/*プレースホルダーの設定*/
::placeholder {
	text-align: center;
}

/*　変更ボタン　*/
.update_button input{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #f5deb3;
    background-color:#f5deb3;
}

/* 上に戻るボタン */
.gotop{
	position : fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;

}

/*フッターへの画像挿入*/
.cafe_img {
    text-align: left;       /* 左寄せ */
    margin: 0;
    padding: 0;
}

.cafe_img img {
    display: block;         /* インライン→ブロック要素にすることで余白を排除 */
    margin-left: 0;         /* 念のため左マージンを明示的に0に */
}

/*フッターへの画像挿入 ここまで*/


/* フッター */

footer p{
    text-align:center;
    font-size:0.7em;
    margin-top:40px;
}
/* フッターここまで */

