@charset "UTF-8";

body{
    overflow-x:hidden;
}

/* タイトル　*/
.top{
    text-align:center;
}

/* ログイン画面に戻る */
.rogin_back{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    text-align:center;
    width:50%;
    margin:0 auto;
}
.rogin_back p{
    margin: 0; 
    padding: 0;
}

/* 店長は赤文字です */

p{
    padding-left:250px;
    margin-left:200px;
    color:#ff0000;
}


/* 表とボタン */
.table_up_del {
  width: 100%;
  margin-left: 90px; /* ← 余白を削除 */
}


th,td{
    border: 1px solid #333;
}

table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
}
        
td {
            border: 1px solid #000;
            width: 50px;
            height: 50px;
}
/*テーブルの枠線を消す*/

.no-bottom-border {
  border: none;
}

/*変更ボタン　色変更　*/
.update_button{
    background-color:#ffde59;
}

/*削除ボタン　色変更　*/
.delete_button{
    background-color:#5271ff;
}

