@charset "UTF-8";

.top{
    text-align:center;
}
.rogin_back{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    text-align:center;
    width:50%;
    margin:0 auto;
}
.rogin_back p{
    margin: 0; 
    padding: 0;
}

.label{
    margin-left:20px;
    margin-top:20px;
    font-size: clamp(13px,4vw,30px);
}


.user_choice{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width:50%;
    margin:0 auto;
    text-align:center;
}

.regist_button input{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

::placeholder {
	text-align: center;
}

.my-radio{
    accent-color:#ff9a03;
}