@charset "UTF-8";
/* 枠可視化用 */

* {
	outline: 1px solid #FF0000;
	box-sizing: border-box;
}


/* 内容表示用テーブルの設定 */
.table table{
	border-collapse: collapse;
	margin-top: 20px;
	width: 100%;
}
.table th {
	border: 1px solid #333;
	padding: 8px;
	text-align: center;
}
.table td {
	border: 1px solid #333;
	padding: 8px;
	text-align: center;
}
/* 全体の位置調整など */
main {
	max-width: 700px;
	margin: 0 auto 0 auto;
}
table {
	text-align: center;
	margin: 0 auto 0 auto;
	max-width: 600px;
	width: 100%;
	height: auto;
	overflow: auto;
}

/* 一旦ファイルだけ作成(店長イベント) */