@charset "UTF-8";

body {
  margin: 0 0 0 0;	/* マージンなし（後で個別に設定） */
  padding: 0 0 0 0;	/* パディングなし（後で個別に設定） */
  width: 100%;
  justify-content:center;
  font-size: 16px;
  background-image: url('../img/back.png');
  background-repeat:  no-repeat;
  background-size:100% 100%;
}

/*　ヘッダー　*/
 header {
      padding: 20px;
      text-align: center;
    }
    

#nav  {
      margin: 80px auto 0 auto;
      padding-top: 30px ;
      list-style: none;
      display: flex;
      gap: 40px;
      justify-content: center;
      border: 2px solid #000;
      border-radius: 4px;
      max-width:800px;
      height:50px;
      background-color:#f5deb3;
      
}


#nav li a {
      text-decoration: none;
      color: #000;
      padding: 8px 12px;
      font-weight:bold;
      
}
      
    
    
#nav li a:hover {
      background-color:#f5deb3;
      border-radius: 4px;
    }
    
.details-summary{
	  font-weight:bold;
}
    
#details li{
	list-style-type:none;
}

/* まとめて囲む親のulに枠 */
.details-summary + ul {
  border: 2px solid #333;      /* 太めの枠線 */
  border-radius: 6px;          /* 角丸 */
  overflow: hidden;            /* 角丸が崩れないように */
  width: 200px;                /* お好みで幅調整 */
  margin: 10px 0;
  padding: 0;                  /* ulのデフォ余白削除 */
  background-color: #f9f9f9;
}

/* liは枠の中のセクション */
.details-summary + ul li {
  list-style: none;            /* マーカー消し */
  padding: 10px 15px;
  text-align: center;          /* 真ん中寄せ */
  cursor: pointer;
  background-color:#f5deb3;
}

/* liの間に境界線を1本だけ入れる（2つ目以降のliの上に線） */
.details-summary + ul li + li {
  border-top: 1px solid #666;
}

/* aタグはブロック化して全体をクリック可能に */
.details-summary + ul li a {
  display: block;
  color: #333;
  text-decoration: none;
}

/*　ヘッダーここまで*/

/*タイトル*/
.top{
    text-align:center;
}



/*選択画面部分*/

.user_choice{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width:50%;
    margin:0 auto;
    text-align:center;
}

/*ラジオボタン全体*/

.label{
    margin-left:20px;
    margin-top:20px;
    font-size: clamp(13px,4vw,30px);
}

/*ラジオボタンの色変更*/
input[type="radio"]{
   accent-color:#ff9a03; 
  
}

/*ラジオボタン　プレースホルダーの設定*/
::placeholder {
	text-align: center;
}

#name,#password{
	padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}


	/*padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width:50%;
    margin:0 auto;
    text-align:center;
    max-width:300px;*/


/*登録ボタン*/
.regist_button input{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}


#output{
    color:red;
    text-align:center;
    font-size:16px;
}

/* 上に戻るボタン */
.gotop{
	position : fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;

}

/* フッター */

footer p{
    text-align:center;
    font-size:0.7em;
    margin-top:40px;
}
/* フッターここまで */